/doc/chap*
/examples/output/*
/tst/output/*
/doc/forms.aux
/doc/forms.bbl
/doc/forms.blg
/doc/forms.brf
/doc/forms.idx
/doc/forms.ilg
/doc/forms.ind
/doc/forms.log
/doc/forms.out
/doc/forms.pnr
/doc/forms.tex
/doc/forms.toc
/doc/manual.*
/doc/title.xml
/doc/*.css
/doc/*.js
/doc/chooser.html
/doc/_*.xml
/tmp
/gh-pages
tmp.json
profiling